<phpunit bootstrap="phpunit-bootstrap.php">
  <testsuites>
    <testsuite name="DaftObject">
      <directory>./vendor/signpostmarv/daft-object/tests/</directory>
    </testsuite>
    <testsuite name="DaftObjectEasyDBRepository">
      <directory>./easydb-tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log
      type="coverage-html"
      target="phpunit"
      logIncompleteSkipped="true"
    />
    <log
      type="coverage-text"
      target="php://stdout"
      showUncoveredFiles="true"
      showOnlySummary="false"
    />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
      <directory suffix=".php">./easydb-src/</directory>
      <directory suffix=".php">./easydb-tests/</directory>
      <directory suffix=".php">./vendor/signpostmarv/daft-object/src/</directory>
    </whitelist>
  </filter>
</phpunit>
